body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background: #11aad8;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: #334155;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed span {
  text-decoration: line-through;
  color: #94a3b8;
}
